# JVM and IntelliJ
/.gradle/
/.idea/
/src/test/
/build/

# Project-specific paths
/installation/
/reference/
/tmp/

# Python address parser
/external/address/*/
/external/address/*.spec
/external/address/test*
